* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: green;
}
.mainPanel {
	margin-left: 165px;
	margin-top: 20px;
	width: 1000px;
	min-height: 500px;
}
.mainSearch {
	margin-left: 165px;
	margin-top: 20px;
	width: 1000px;
	height: 30px;
	
}
.mainHeder {
	margin-left: 165px;
	width: 1000px;
	height: 90px;
	background-color: white;
}
.rightMainPanel {
	float: right;
	width: 300px;
	height: 500px;
	background-color: rgb(0, 83, 0);
}
.rightMainPanelLast {
	float: left;
	color: white;
	margin-right: 3px;
	height: inherit;
	width: 50px;
	background-color: rgba(0, 255, 61, 0.14);
	text-align: center;
}
.rightMainPanelLast:hover {
	background-color: white;
	color: green;
}
.notificationPanelMenu {
	width: inherit;
	height: 25px;
	background-color: rgb(43, 109, 37);
}
.notificationPanelContent {

	width: inherit;
	height: 450px;
}
.navigationPanel {
	background-color: rgb(43, 109, 37);
	width: inherit;
	height: 25px;
}
.notificationContent {

	float: right;
	margin: 14px;
	width: 90%;
	height: 94%;
}
.leftMainPanel {
	width: 700px;
	min-height: 400px;
	float: right;
	background-color: rgba(19, 20, 17, 0.14);
}
.leftMainPanelButons {
	width: inherit;
	height: 25px;
	background-color: rgb(43, 109, 37);
}
.leftResultPanel {
	width: inherit;
	height: 94%;
	background-color: rgba(33, 70, 30, 0.34);
}
.commentBox {
	list-style-type: none;
	width: initial;
}
.comementPanel {
	width: inherit;
	height: 50px;
	background-color: green;
	margin-bottom: 5px;
}
.commentImageBox {
	float: left;
	height: inherit;
	width: 50px;
	background-color: white;
}
.commentImageBox > img {
	width: 100%;
	height: 100%
}
.commentContent {
	height: inherit;
	width: initial;
}
.commentContent > a {

	font-weight: bold;
	font-size: 0.8em;
}
.commentContent > span {
	font-size: 0.6em;
	color: white;
	margin-left: 5px;
}
.commentFill {
	width: inherit;
	height: 50px;
	display: inline;
}
.TopicName {
	font-size: 0.8em;
	font-weight: bold;
}
.TopicInfo {
	color: white;
	font-size: 0.7em;
}
.LoginBox {
	width: 260px;
	height: 413px;
	background-color: rgba(31, 255, 0, 0.1);
	color: white;
	position: absolute;
	top: 80px;
	left: 40%;
}
.loginContent {
	padding: 20%;
}
.loginSubmit {
	position: absolute;
	left: 137px;
	width: 64px;
	height: 20px;
	background-color: rgba(92, 255, 0, 0.27);
}
.loginSubmit:hover {
	background-color: white;
	color: green;
}
.loginSubmit > h4 {
	padding-left: 10px;
	cursor: pointer;
}
a {
	color: white;
	border-bottom-style: none;
}
a:hover {
	padding: 10px;
}
.PasswordRecoveryBox {
	width: 400px;
	height: 300px;
	margin-left: 37%;
	margin-top: 120px;
}
.PasswordRecoveryBox > label {
	color: white;
}
.SendSubmit {
	position: absolute;
	left: 767px;
	top: 240px;
	width: 64px;
	height: 20px;
	background-color: rgba(92, 255, 0, 0.27);
	color: white;
}
.SendSubmit:hover {
	background-color: white;
	color: green;
}
.SendSubmit > h4 {
	padding-left: 10px;
	cursor: pointer;
}
.registrationBox {
	width: 260px;
	height: 413px;
	background-color: rgba(31, 255, 0, 0.1);
	color: white;
	position: absolute;
	top: 80px;
	left: 50%;
}
.registrationContent {
	padding: 20%;
}
.registrationSubmit {
	position: absolute;
	left: 137px;
	width: 64px;
	height: 20px;
	background-color: rgba(92, 255, 0, 0.27);
}
.registrationSubmit:hover {
	background-color: white;
	color: green;
}
.registrationSubmit > h4 {
	padding-left: 10px;
	cursor: pointer;
}
.leftPanelR {
	width: 260px;
	height: 413px;
	background-color: white;
	color: white;
	position: absolute;
	top: 80px;
	left: 30%;
}
.imageBox {
	position: absolute;
	top: 121px;
	width: 95%;
	height: 172px;
	padding-left: 7px;
}
.imageLogo {
	width: 100%;
	height: 100%;
}
.PasswordRecoveryBox{
	width: 400px;
	height: 300px;
	
	margin-left: 37%;
	margin-top: 120px;
}
.PasswordRecoveryBox > label{
	color: white;
}
.SendSubmit {
	position: absolute;
	left: 767px;
	top:240px;
	width: 64px;
	height: 20px;
	background-color: rgba(92, 255, 0, 0.27);
	color: white;
}
.SendSubmit:hover {
	background-color: white;
	color: green;
}
.SendSubmit > h4 {
	padding-left: 10px;
	cursor: pointer; 
}

.SendSearch{
	float:right;
	width: 64px;
	height: 21px;
	background-color: rgba(92, 255, 0, 0.27);
	color: white;
}
.SendSearch:hover{
	background-color: white;
	color: green
}
.SendSearch > h4{
	text-align: center;
	
}
.SearchValue{
	float: right;
	
}
